.section-btn{
    background-color: rgb(238 238 238);
    padding:1.5rem 1rem;
    display: flex;
}

.section-btn a{
    display: block;
    margin:auto;
    padding:0.5rem 1rem;
    background-color: #000;
    color:#fff;
    text-decoration: none;
    border-radius: 0.2rem;
}
.section-btn a:hover,
.section-btn a:active{
    background-color: #fff;
    color:#000;
    outline: 1px solid black;
    outline-offset: 1px;
}