.card{
    width:80%;
    margin:1.5rem auto;
    padding:1rem 0.5rem;
    border-radius: 2rem;
    border:1px solid gray;
}
.card > div{
    padding:0.4rem 0;
}

.card__image{
    text-align: center;
    
}

.card__data {
font-family: 'Hind', sans-serif;
}

.card__data > *{
    padding:0.2rem 0;
}